html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: monogram;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: white;
}

#canvas-container {
  width: 800px;
  height: 600px;
  margin: auto;
  color: #000;
}

canvas {
  z-index: 1;
  display: block;
  /*prevents double click selection*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  margin: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  touch-action: manipulation;
}
#interface {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 8px;
}

#message-form {
  display: none;
  font-size: 16px;
}

#message-input {
  font-size: 16px;
}
#username-input {
  font-size: 16px;
}

#join-form {
  font-size: 16px;
}
